@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{
    --navyblue: rgb(20,14,70,1);
    --navyblue-secondary: rgb(20,14,70,0.75);
    --overlay-white: rgba(255,255,255,0.75);
}
/* common rule */
html, body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--navyblue);
};
body {
    height: 100%;
    width: 100%;
}
    /* for section */
section{
    height: 100%;
    width: 100%;
    position: fixed;
}
.test{
    border: solid black;
}
/* --------- Opening --------- */
.page-title{
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.page-title-background{
    height: 100%;
    width: 100%;
    /* background-image: url(assets/geological.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.page-title-background img{
    position: absolute;
}
.page-title-background img.sky{
    height: 100%;
    width: 100%;
}
.page-title-background img.ground{
    width: 100%;
    bottom:0;
}
.page-title-background img.ground-water{
    width: 100%;
    bottom:10px;
    left:20px;
    animation: move-down-up-water-1 2s ease infinite;
}
.page-title-background img.ground-water-2{
    width: 100%;
    bottom:0px;
    left:0px;
}
.page-title-background img.ground-water-3{
    width: 100%;
    bottom:10px;
    left:20px;
    animation: move-down-up-water-2 2s ease infinite;
    animation-delay: 0.25s;
}
.page-title-background img.sea{
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: sea-move 6s ease infinite;
    animation-delay: 0.25s;
}
.page-title-background img.bird-all{
    width: 100%;
    bottom: 20%;
    left: 0%;
    animation: all-bird-fly 3s ease infinite;
    animation-delay: 0.25s;
}
.page-title-background .bird-container{
    position: absolute;
    bottom: 70%;
    left: 80%;
    height:40px;
    width:60px;
    animation: bird-fly 4s ease infinite;
}
.page-title-background .bird-container img{
    height: 100%;
    width: 100%;
}
.page-title-background img.stone{
    width: 100%;
    bottom:0px;
    left:0px;
}
.page-title-background img.cloud-1{
    top:0px;
    left:0px;
    animation: cloud-move 120s ease infinite;
}
.page-title-background img.cloud-2{
    top:0px;
    left:20%;
    animation: cloud-move 30s ease infinite;
}
.page-title-background img.cloud-3{
    top:0px;
    left:60%;
    animation: cloud-move 60s ease infinite;
}
.page-title-background img.cloud-12{
    top:0px;
    left:20%;
    scale: 0.2;
    animation: cloud-move 60s ease infinite;
}
.page-title-background img.cloud-32{
    top:0px;
    left:60%;
    scale: 0.5;
    animation: cloud-move 80s ease infinite;
}

    /* text */
.page-title-text h1{
    text-transform: uppercase;
    font-size: 64px;
}
.page-title-text{
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 5px #000000;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    letter-spacing: 5px;
    background-color:var(--overlay-white);
    top: 30%;
    left: 0;
} 
.scroll-icon{
    position: absolute;
    bottom:0px;
    left: 50%;
    animation: scroll-move 2s ease infinite;
}
.scroll-icon p{
    padding:0;
    margin:0;
}
.scroll-icon img{
    width: 50px;
}


    /* animation opening */
    @keyframes scroll-move {
        0% {
            bottom:-150px;
        }
        35% {
            bottom:-130px;
        }
        100% {
            bottom:-150px;
        }
      }
    @keyframes sea-move {
        0% {
            bottom:5px;
        }
        50% {
            bottom:0px;
        }
        100% {
            bottom:5px;
        }
      }
    @keyframes move-down-up-water-1 {
        0% {
            bottom:0px;
            left:20px;
        }
        50% {
            bottom:-10px;
            left:0px;
        }
        100% {
            bottom:0px;
            left:20px;
        }
      }
      @keyframes move-down-up-water-2 {
          0% {
              bottom:10px;
              left:20px;
          }
          50% {
              bottom:0px;
              left:0px;
          }
          100% {
              bottom:10px;
              left:20px;
          }
        }
        
    @keyframes all-bird-fly {
        0% {
            padding: 0px  0px 0px 0px;
            margin-bottom:0;
        }
        50% {
            margin-bottom:20px;
        }
        100% {
            padding: 0px  0px 0px 0px;
            margin-bottom:0;
        }
    }
    @keyframes bird-fly {
        0% {
            padding: 0px  0px 0px 0px;
            margin-bottom:0;
            width:60px;
            height:40px;
        }
        50% {
            margin-bottom:20px;
            width:50px;
        }
        100% {
            padding: 0px  0px 0px 0px;
            margin-bottom:0;
            width:60px;
            height:40px;
        }
      }
      @keyframes cloud-move {
        0% {
            left: -100%;
            opacity:1;
        }
        75% {
            opacity:1;
        }
        100% {
            left:  100%;
            opacity:0;
        }
      }
      @keyframes cloud-move-2 {
        0% {
            right: -100%;
            opacity:1;
        }
        75% {
            opacity:1;
        }
        100% {
            right:  100%;
            opacity:0;
        }
      }
/* section 1 */
section.s1 .transition{
    position: absolute;
    width: 100%;
}
section.s1 .transition img{
    width: 100%;
}
section.s1{
    display: flex;
    justify-content: center;
    background-image: url('assets/2D/beach 2/sky.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    /* moving cloud */
section.s1 .moving-cloud{
    position: absolute;
    width: 100%;
    bottom: 20%;
}
section.s1 .moving-cloud img{
    position: absolute;
    bottom: 20%;
}
section.s1 .moving-cloud .mc1{
    height: 100px;
    bottom: -100px;
    animation: cloud-move-2 15s ease infinite;
    animation-delay: 0.5s;
}
section.s1 .moving-cloud .mc2{
    height: 160px;
    bottom: 10%;
    animation: cloud-move 25s ease infinite;
}
section.s1 .moving-cloud .mc3{
    height: 200px;
    bottom: -150px;
    animation: cloud-move-2 20s ease infinite;
}
section.s1 .moving-cloud .mc4{
    height: 100px;
    bottom: 10%;
    animation: cloud-move 15s ease infinite;
}
/* animation moving cloud */

    /* map */
section.s1 .map-wrapper{
    position: absolute;
    width: 800px;
    top:0;
    border-radius: 20px;
    box-shadow: -5px 5px 15px rgb(0,0,0,0.8) ;
}
section.s1 .map-wrapper .map{
    position: absolute;
    width: 100%;
    border-radius: 20px;
    box-shadow: -5px 5px 15px rgb(0,0,0,0.8) ;
}
    /* content */
section.s1 .content-wrapper{
    position: absolute;
    text-align: center;
    top:50%;
    width: 500px;
}
section.s1 .content-wrapper img{
    width: 100%;
    border-radius: 20px;
    box-shadow: -5px 5px 15px rgb(0,0,0,0.8) ;
}

.map-pos img{
    width: 30px;
    border-radius: 30px;
}
section.s1 span{
    font-size: 25x;
    text-transform: capitalize;	
    text-decoration: underline;
    color: #ffffff;
    background-color: rgba(21, 254, 0, 0);
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
.map-pos{
    z-index: 1;
    position:absolute;
    border-radius: 10px;
} 

/* puncak cibuti */
/* position */
.map-pos.puncak-cibuti{
    right: 420px;
    top: 190px;
}
/* image */
section.s1 .content-wrapper img{
    position: absolute;
    opacity: 1;
    max-height: 350px;
}
.map-pos.puncak-darma{
    right: 450px;
    top: 170px;
}
.map-pos.karang-deau{
    right: 580px;
    top: 120px;
}
.map-pos.pantai-cikeueus{
    right: 430px;
    top: 100px;
}
.map-pos.pantai-cikalapa{
    right: 520px;
    top: 70px;
}
.map-pos.batu-catur{
    right: 450px;
    top: 90px;
}
.map-pos.curug-mawur{
    right: 260px;
    top: 170px;
}
.map-pos.curug-larangan{
    right: 280px;
    top: 200px;
}

/* sectiuon 2 */

section.s2 {
    /* display:flex; */
    justify-content: center;
    height:100%;
    background-image: url('vi-asset-2d-jungle-main-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border:solid 1px;
}
section.s2 .transition{
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
section.s2 .transition.t1 img{
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: rotate(180deg); 
}
section.s2 .transition.t2 img{
    width: 100%;
}
section.s2 .content-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
}
section.s2 .content-wrapper img{
    position: absolute;
    bottom: 0;
    width: 100%;
}
section.s2 .content-wrapper img.jungle-tree-left{
    width: 100% !important;
    left: 0;
}
section.s2 .content-wrapper img.jungle-tree-right{
    width: 50% !important;
    right: 0;
} 
section.s2 .content-wrapper .jlaef{
    width: 7%;
    top: -30%;	
    animation-name: fall, sway;
	animation-fill-mode: both;
	animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite;
} 
section.s2 .content-wrapper .jleaf2{
    width: 5%;
    top: -30%;
    animation-name: fall, sway;
	animation-fill-mode: both;
	animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite;
} 
section.s2 .content-wrapper .jlaef.obj1{
	animation-duration: 7s, 8s;
    animation-delay: 5.25s;
    left:20%;
} 
section.s2 .content-wrapper .jlaef.obj2{
	animation-duration: 7s, 8s;
    animation-delay: 0.25s;
    left:30%;
} 
section.s2 .content-wrapper .jlaef.obj3{
	animation-duration: 7s, 8s;
    animation-delay: 8s;
    left:80%;
} 
section.s2 .content-wrapper .jleaf2.obj1{
	animation-duration: 7s, 8s;
    animation-delay: 18s;
    left:55%;
} 
section.s2 .content-wrapper .jleaf2.obj2{
	animation-duration: 7s, 8s;
    animation-delay: 5s;
    left:35%;
} 
section.s2 .content-wrapper .jleaf2.obj3{
	animation-duration: 7s, 8s;
    animation-delay: 13s;
    left:78%;
} 
section.s2 .content-wrapper .jleaf2.obj3{
	animation-duration: 7s, 8s;
    animation-delay: 13s;
    left:78%;
} 

/* jungle animation */
@keyframes sway { 
	0% { 
		transform: rotateZ(-15deg) rotateX(55deg);
	}
    30% {
		transform: rotateZ(20deg) rotateX(60deg);
		animation-timing-function: ease-in-out;
	}
	60% { 
		transform: rotateZ(-20deg) rotateX(55deg);
		animation-timing-function: ease-in-out;
	}
    100% {
		transform: rotateZ(0deg) rotateX(58deg);
		animation-timing-function: cubic-bezier(0.990, 0.000, 0.890, 0.435);
		}
}
@keyframes fall { 
    0% {
        top: -30%;	
		filter: drop-shadow(0px 60px 40px rgba(0,0,0,0));
	}
	100% {
        top: 100%;	
		filter: drop-shadow(0px 5px 8px rgba(0,0,0,0.6));
	}
}